<!doctype html>
<html lang="en">
<head></head>
<body>
<main>
{{ content }}
</main>
<footer>
    &copy; 2020 Chris Pilsworth
    <a href="https://github.com/cpilsworth/11ty-netlify/blob/master/{{ page.inputPath }}">Edit this page on GitHub</a>
    </footer>
</footer>
</body>
</html>